h1 {
    margin: 0px, auto, 0px, auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 0.75;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40/16rem;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #e4f9f5;
    padding: 1.25em;
    padding-bottom: 0px;
    position: relative;
    padding-top: 6.25em;
}

.middle-container {}

.bottom-container {
    background-color: #66bfbf;
    height: 100px;
    padding: 50px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    display: inline-block;
    width: 15%;
    position: absolute;
    right: 10rem;
    top: 3.125rem;
}

.bottom-cloud {
    position: absolute;
    left: 9.375rem;
    top: 11.25rem;
    width: 15%;
}

.circular-img {
    border-radius: 100%;
}

.profile-img {
    height: 15.25rem;
}

.web-img {
    height: 15.25rem;
    float: left;
    margin-right: 30px;
}

.flutter-img {
    height: 15.25rem;
    border-color: wheat;
    border: 0.5px;
    float: right;
    margin-left: 30px;
}

.pizza-img {
    height: 15.25rem;
    float: left;
    margin-right: 30px;
}

.block {
    display: inline-block;
}

a {
    color: #11999E;
}

.weight {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

.skill-text {
    text-align: left;
}

.separator {
    margin-top: 0px;
    line-height: 0.25;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 9px;
    width: 5%;
    border-color: #eaf6f6;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 38px;
    line-height: 38px;
    color: #FFFFFF;
    font-family: sans-serif;
    width: 223px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-link {
    color: #11999E;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.copyright {
    color: #eaf6f6;
}

.second {
    margin-top: 50px;
    margin-bottom: 50px
}

.profile {
    margin-top: 100px;
}